html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
}

.container-center {
    justify-content: center;
    align-items: center;
}

.brand {
    height: calc(100vh);
    display: flex;
    justify-content: center;
    background-image: url('../img/brand-bg.png');
    background-size: cover;
    background-position: 50%;;
}

.navbar img {
    max-height: 3rem;
}

.brand>img {
    max-width: 100%;
    width: 576px;
    /* margin-top: 10vh;
    margin-bottom: auto; */
    object-fit: contain;
}

.line-break {
    width: 8rem;
    margin: 0 auto;
}

.footer img {
    max-width: 20rem;
}